$general-color-text: #FFFFFF;
$general-color-bg: #000000;
$additional-color: #AE8959;
$mobile-price-color: #ffc981;
$informational-color: #131318;
$overlay-color: rgba(19, 19, 24, 0.7);
$overlay-additional-color: rgba(19, 19, 24, 0.85);
$subtext-color: #595550;
$placeholder-color-text: #b9b9b9;
$footer-rights-color: #504f4f;
$nav-overlay-color: rgba(0, 0, 0, 0.78);
$error-color: rgba(255, 0, 0, 0.78);

