@font-face {
  font-family: "Lora";
  src: url("../src/fonts/lora/Lora-Regular.ttf");
}

@font-face {
  font-family: "Muller-Regular";
  src: url("../src/fonts/muller/Muller-regular.ttf");
}

@font-face {
  font-family: "Muller-Bold";
  src: url("../src/fonts/muller/Muller-bold.ttf");
}

@font-face {
  font-family: "Castellar";
  src: url("../src/fonts/castellar/Castellar.ttf");
}
